Package: StockManager
Version: 1.0
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.29)
Maintainer: Danilo <danilokovarike@gmail.com>
Description: Meu sistema de gerenciamento de estoquer.
